{{- $src := ( .Destination | safeURL ) -}}
{{- if strings.HasPrefix $src "http" -}}
	<img loading="lazy" src="{{ $src }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
{{- else -}}
	{{- $fragments := ( split $src "#" ) -}}
	{{- $src = index ($fragments ) 0 -}}
	<img loading="lazy" src="{{ $src }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} {{ with imageConfig ( printf "static/%s" $src ) }}{{ end }} {{ with index ($fragments ) 1 }} class="{{ . }}"{{ end }}>
{{- end -}}
