{{- if .Page.Params.author }}
<div class="authorbox block">
	<div class="author">
		{{- with .Site.Params.avatar }}
		<figure class="author__avatar">
			<img class="author__img" alt="{{ $.Site.Params.author }} avatar" src="{{ $.Site.Params.avatar | relURL }}" height="90" width="90">
		</figure>
		{{- end }}
		<div class="author__body">
			<div class="author__name">
				{{ .Site.Params.author }}
			</div>
			{{- with .Site.Params.bio }}
			<div class="author__bio">
				{{- . -}}
			</div>
			{{- end }}
		</div>
	</div>
</div>
{{- end }}
