{{- $pag := $.Paginator }}
{{- if gt $pag.TotalPages 1 }}
<div class="pagination block">
	{{- $ellipsed := false }}
	{{- $shouldEllipse := false }}
	{{ with $pag.First -}}
      <a href="{{ .URL }}" class="pagination__item pagination__item--desktop" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
    {{ end -}}
    <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="pagination__item pagination__item--desktop" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
	{{- range $pag.Pagers }}
		{{- $right := sub .TotalPages .PageNumber }}
		{{- $showNumber := or (le .PageNumber 5) (eq $right 0) }}
		{{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 3)) (lt .PageNumber (add $pag.PageNumber 3))) }}
		{{- if $showNumber }}
			{{- $ellipsed = false }}
			{{- $shouldEllipse = false }}
		{{- else }}
			{{- $shouldEllipse = not $ellipsed }}
			{{- $ellipsed = true }}
		{{- end }}
		{{- if $showNumber }}
			{{- if eq . $pag }}
				<span class="pagination__item pagination__item--active" data-total="{{ $pag.TotalPages }}">
					{{- .PageNumber -}}
				</span>
			{{- else }}
				<a class="pagination__item pagination__item--desktop" href="{{ .URL }}">{{ .PageNumber }}</a>
			{{- end }}
		{{- else if $shouldEllipse }}
			<span class="pagination__item pagination__item--gap">&hellip;</span>
		{{- end }}
	{{- end }}
	<a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="pagination__item pagination__item--desktop" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    {{- with $pag.Last }}
      <a href="{{ .URL }}" class="pagination__item pagination__item--desktop" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
    {{- end }}
</div>
{{- end }}
