img[src$='#center']
{
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                          whatever floats your boat, but keep the
                          horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}
img[src$='#floatleft']
{
  float:left;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}
img[src$='#floatright']
{
  float:right;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.huge {
  width: 640px;
  height: auto
}

img.big {
  width:480px;
  height: auto
}

img.medium {
  width:320px;
  height: auto
}

img.small {
  width:240px;
  height: auto
}

/* The following can be removed, but leave it just in case
img[src*="#huge"] {
  width:640px;
}
img[src*="#big"] {
  width:480px;
}
img[src*="#medium"] {
  width:320px;
}
img[src*="#small"] {
  width:240px;
}
* /

/* To show scrollbars only on mouse hover */
pre {
  max-height: 25rem;;
  scrollbar-width: thin;
  overflow: hidden;
  overflow-x: hidden;
}
pre:hover {
  overflow: auto;
  overflow-x: auto;
}

/* to remove empty table headers */
th:empty {
  font-size: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}

table,
tr,
td {
  border: 0;
}

.footer__copyright-credits,
.footer__copyright-cc {
  display: block;
  width: 320px;
  margin: auto;
}

/* Comments */
#comments {
    margin: .625rem .3125rem;
    padding: .875rem;
    background-color: #2a2a2a;
}

.gh-comment {
  border: 1px solid #515151;
  margin-top: 15px;
}

.gh-header {
  display: flex;
  color: #586069;
  background-color: #111;
  border-bottom: 1px solid #515151;
  padding: .875rem;
  font-size: .850rem;
}

.gh-username {
  color: #f8ae00;
}

.gh-body {
    padding: .875rem;
}

.gh-header > img {
  width: 24px;
  height: 24px;
  margin-right: 0.500rem;
  vertical-align: middle;
}
