img[src$='#center']
{
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                          whatever floats your boat, but keep the
                          horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}
img[src$='#floatleft']
{
  float:left;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}
img[src$='#floatright']
{
  float:right;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.huge {
  max-width: 640px;
  height: auto
}

img.big {
  max-width:480px;
  height: auto
}

img.medium {
  max-width:320px;
  height: auto
}

img.small {
  max-width:240px;
  height: auto
}

/* The following can be removed, but leave it just in case
img[src*="#huge"] {
  width:640px;
}
img[src*="#big"] {
  width:480px;
}
img[src*="#medium"] {
  width:320px;
}
img[src*="#small"] {
  width:240px;
}
* /

/* To show scrollbars only on mouse hover */
pre {
  max-height: 25rem;;
  scrollbar-width: thin;
  overflow: hidden;
  overflow-x: hidden;
}
pre:hover {
  overflow: auto;
  overflow-x: auto;
}

/* to remove empty table headers */
th:empty {
  font-size: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}

table,
tr,
td {
  border: 0;
}

.footer__copyright-credits,
.footer__copyright-cc {
  display: block;
  width: 320px;
  margin: auto;
}
